.check_img{
    width: 20px;
    height: 20px;
    margin: 4px;

    position: relative;
    top: 8px;
}
/* 음식점 선택 */
.food_text{
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;

    text-align: left;
    position: relative;
    left: 25px;
}
.food_map{
    display: inline-block;
}

/* 카페 선택 */
.cafe_text{
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;

    text-align: left;
    position: relative;
    left: 25px;
}
.cafe_map{
    margin-bottom: 40px;
    display: inline-block;
}

/* 경로 추천 버튼 */
.first_course_button{

    background-color: #BECDFA;

    width: 130px;
    height: 30px;
    border: 1px solid;
    border-radius: 3px;
    font-size: 15px;
    font-weight: 600;
}

/* 최적 경로 결과 */
.course_data{
    display: inline-block;
    text-align: center;
    width: 320px;
    background-color: #fff;
}
.course_name{
    font-size: 18px;
    font-weight: 500;
}
.vl {
    margin-top: 15px;
    margin-bottom: 15px;
    border-left: 4px dotted #848EAD;
    height: 50px;
    position: relative;
    left: 50%;
  }

