.check_img{
    width: 20px;
    height: 20px;
    margin: 4px;

    position: relative;
    top: 8px;
}
/* 음식점 선택 */
.food_text{
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;

    text-align: left;
    position: relative;
    left: 25px;
}
.food_map{
    display: inline-block;
}

/* 카페 선택 */
.cafe_text{
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;

    text-align: left;
    position: relative;
    left: 25px;
}
.cafe_map{
    display: inline-block;
}

/* 최적 경로 결과 */
.vl {
    border-left: 4px dotted #848EAD;
    height: 50px;
    position: relative;
    left: 50%;
  }

