body {
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: hsl(210, 36%, 96%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* h태그 지정 */
h1{
  font-family: 'Noto Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 52px;
  line-height: 71px;
}

h2{
  font-family: 'Noto Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 57px;
}

h3{
  font-family: 'Noto Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
}

h4{
  font-family: 'Noto Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 35px;
}

h5{
  font-family: 'Noto Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;
}

h6{
  font-family: 'Noto Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
}

button{
  font-family: 'Noto Sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
}

/* 사이드바 */
.sidebar-toggle{
  position: relative;
  top: -80px;
  right: -45%;
  z-index: 5;
  background: transparent;
  background-color: transparent;
  color: #FFFEEF;
  cursor: pointer;
}

.nav{
  width: 310px;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  background-color: #FFFEEF;
  height: 100%;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
}

.nav-open{
  left: 0;
  z-index: 20;
}
.nav-closed{
  left: -320px;
  z-index: 10;
}
.nav-button{
  z-index: 2;
}
.sidebar-toggle span{
  font-size: 2.5rem;
}
.sidebar-toggle:hover{
  color: #FFFEEF;
}
.toggle_link{
  font-family: 'Noto Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;

  text-align: center;
  color: #002366;
}
.toggle_links{
    margin: 50px;
    text-align: center;
    align-items: center;
}
.logo{
  width: 250px;
  height: 60px;
  background-color: #BECDFA;
  border-left: 10px solid #848EAD;
  display: flex;
  align-items: center;
  font-family: 'Noto Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 35px;
  color: #fff;
  font-weight: bold;
  margin-bottom: 70px;
  margin-top: -30px;
  margin-left: 10px;
  padding: 5px;
  z-index: 10;
}

/* 헤더 */
.header1{
  position: relative;
  height: 96px;
  left: 0px;
  top: 0px;
  background-color: #002366;
  z-index: 1;
  text-align: center;
}

.header1 h5{
  color: #FFFEEF;
  text-shadow: -2px 0px #848EAD, 0px 2px #848EAD, 2px 0px #848EAD, 0px -2px #848EAD;
  position: relative;
  top: 30px;
  text-align: center;
}

.header2{
  position: relative;
  height: 23px;
  left: 0px;

  z-index: 2;
  background-color: #BECDFA;
}

.header3{
  position: relative;
  height: 12px;
  left: 0px;

  z-index: 3;
  background: #FFFEEF;
}